    .location .txt{
        line-height: 30px;
    }

    .location  h2{
        margin-top: 60px;
        padding: 130px 0;
        background:url("../pic/location/location-1.jpg");
        background-position: center right;
        background-size: cover;
        color:whitesmoke;
        text-align: center;
    }

    .location .container{
        max-width: 960px;
        margin: auto;
        margin-top: 60px; 
        position: relative;

    }

    .location .content{
        padding: 50px 10px;
    }

    .location h3{
        font-size: 24px;
        color: hsl(40 70% 50%);
        text-align: left;
        padding: 10px 0;
        border-bottom: 2px solid hsl(40 70% 50%);
        margin-bottom: 5px;
        font-weight: bold;
    }

  
    .location .hours{
        margin-top: 30px;
    }
    .location h2 small{
        color:rgb(233, 233, 233);
    }
    

    @media screen and (min-width:1024px){
            
        .location{
            width: 100%;
            height: 100vh;
            background: linear-gradient(110deg, transparent  50% ,rgb(244, 246, 252) 50%) center center/ 100% 100%,
            url("../pic/location/location-1.jpg")center left/ auto 100%;
        }


        .layer{
            width: 100%;
            height: 100vh;
            background: linear-gradient(110deg, rgb(245, 242, 199 ,.7) 50%,transparent 50%);
        }


        .location .container{
            max-width: 960px;
            height: calc(100vh - 60px);
            margin: auto;
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;     
            position: relative;
        }

        .location .title{
            padding: 0; 
            position: absolute;
            top: 50%;
            left:  0;
            transform: translateY(-50%);
        }

        .location .title h2{
            padding: 0;
            font-weight: bolder;
            background: transparent;
            color:rgb(53, 53, 53)
        }

        .location .title h2 small{
            display: block;
            font-size:36px;
            padding-top: 30px;
            font-weight: normal;
            color:rgb(85, 85, 85)
            
        }

        .location .content{
            display: block;
            position: absolute;
            top: 50%;
            right:  0;
            transform: translateY(-50%);
        }

        .location h3{
            font-size: 24px;
            color: hsl(40 70% 50%);
            text-align: left;
            padding: 5px 0;
            border-bottom: 2px solid hsl(40 70% 50%);
            margin-bottom: 5px;
            font-weight: bold;
        }


        .location .txt{
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 30px;
        }

        .location .hours{
            margin-top: 30px;
        }
    }